.menu-2 {
  padding-inline: 2rem;
  padding-top: 2rem;
  padding-bottom: 20rem;
  background: hsl(256, 100%, 17%);

  .nav__toggle,
  .nav__close {
    display: none;
  }

  nav,
  ul,
  .nav__logo {
    display: flex;
    align-items: center;
  }

  nav {
    justify-content: space-between;
    background: hsl(246, 53%, 26%);
    padding-inline: 2.5rem;
    border-radius: 50rem;
    height: 5rem;
  }

  .nav__logo {
    gap: 0.2rem;
    text-transform: uppercase;
    color: hsl(35, 98%, 64%);
    font-family: '700';

    span {
      font-size: 1.6rem;
    }

    i {
      font-size: 1.8rem;
    }
  }

  .nav__menu {
    ul {
      gap: 2.5rem;
    }

    a {
      color: hsl(235, 24%, 91%);
      font-size: 1.1rem;
      text-transform: uppercase;
      position: relative;
      display: block;
      transition: 0.3s;
    }

    a:after {
      background: hsl(235, 24%, 91%);
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 1px;
      width: 0;
      transition: width 0.4s;
    }
  }

  //  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  //  @@@@@@@@@@@@   HOVER    @@@@@@@@@@@@
  //  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .nav__menu {
    ul:hover a {
      filter: blur(2px);
      color: hsl(234, 23%, 66%);
    }

    ul a:hover {
      filter: blur(0);
      color: hsl(235, 24%, 91%);
      font-size: 1.2rem;
    }

    ul a:hover:after {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .menu-2 {
    overflow: hidden;
    position: relative;
    padding-inline: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;

    .nav__toggle,
    .nav__close {
      display: flex;
      color: hsl(235, 24%, 91%);
      font-size: 1.5rem;
      cursor: pointer;
    }

    nav {
      padding-inline: 1.5rem;
      height: 4.5rem;
      box-shadow: 0 0 5px hsl(256, 100%, 12%);
      border-radius: 0 0 1rem 1rem;
    }

    .nav__logo {
      span {
        font-size: 1.4rem;
      }

      i {
        font-size: 1.6rem;
      }
    }

    .nav__menu {
      background: hsl(246, 53%, 26%);
      position: absolute;
      top: -20rem;
      left: 0;
      right: 0;
      width: 90%;
      height: max-content;
      margin: auto;
      padding: 3rem 2rem;
      border-radius: 1rem;
      transition: 0.4s;

      ul {
        gap: 2rem;
        flex-direction: column;
      }

      a {
        font-size: 1rem;
      }

      .nav__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    //  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    //  @@@@@@@@@@@@   HOVER    @@@@@@@@@@@@
    //  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    .nav__menu {
      ul:hover a {
        filter: blur(0);
        color: hsl(235, 24%, 91%);
      }

      ul a:hover {
        filter: blur(0);
        color: hsl(235, 24%, 91%);
        font-size: 1rem;
      }

      ul a:hover:after {
        width: 0;
      }
    }

    //  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    //  @@@@@@@@@@@  JS Classes   @@@@@@@@@@
    //  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    .show-menu {
      top: 6rem;
    }
  }
}
